<!-- templates/registration/password_reset_email.html -->
{% autoescape off %}
Hi {{ user.username }},

You have requested to reset your password for your CopyReels account. Please click the link below to reset it:

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

If you didn’t request a password reset, please ignore this email or contact support if you have questions.

Best regards,
CopyReels Support Team

For assistance, contact us at support@copyreels.com
{% endautoescape %}
